{% extends 'base.html.twig' %}

{% block body %}
    <div class="py-5 text-center">
        <h4>{{ evento }}</h4>
    </div>

    <div class="alert alert-success">
        <strong>Survey success!</strong>
    </div>
    <p class="lead mt-5">Thank you for your time.</p>
    <a class="btn btn-primary" href="https://www.birs.ca/events/2019/5-day-workshops/19w5169" role="button">BIRS-CMO 2019</a>

{% endblock %}