{% extends 'base.html.twig' %}

{% form_theme form 'registro/form_errors.html.twig' %}

{% block body %}

    {{  form_errors(form) }}

    <div class="py-3 text-center">
        <h4>{{ evento }}</h4>
        <h6>del 11 al 16 de agosto 2019</h6>
        <h5 class="mt-3">Number Theory in the Americas </h5>
    </div>

    <h3 class="text-center text-secondary mb-4">Registro cerrado</h3>

{% endblock %}

